*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*::before,
*::after {
    box-sizing: border-box;
}

html, body{
    height: 100%;
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    background-color: var(--bg-color);
    background-image: var(--img-bg);
}


img, i{
    user-select: none;
    -webkit-user-select: none; /* Para navegadores que utilizam o motor Webkit, como o Safari */
    -moz-user-select: none; /* Para navegadores Firefox */
    -ms-user-select: none; /* Para o Internet Explorer */
}

a, a:hover, a:active{
    text-decoration: none;
}

.en, .juridica, section div.juridica{
    display: none;
}

.fisica, .juridica {
    opacity: 0;
    transform: translateX(-20px); /* Começa ligeiramente abaixo */
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out; /* Suave para ambos */
}
  
.show {
    opacity: 1;
    transform: translateX(0); /* Move para a posição original */
}


/*------------Estilizando Fontes*/

html { font-size: 100%; }
body {
--text-size-80: 0.694rem;
--text-size-90: 0.833rem;
--text-size-100: 1rem;
--text-size-200: 1.2rem;
--text-size-300: 1.44rem;
--text-size-400: 1.728rem;
--text-size-500: 2.074rem;
--text-size-600: 2.488rem;
--text-size-700: 2.986rem;
font-family: 'Epilogue';
font-weight: 400;
line-height: 1.6;
color: var(--txt-color);
}
h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
line-height: 1.15;
letter-spacing: -0.022em;
}
h1, .h1, h2, .h2, h3, .h3, h4, .h4{
font-weight: 700;
}
h5, .h5, h6, .h6{
    font-weight: 500;
}
small, .small {
font-size: var(--text-size-90);
letter-spacing: 1.25px;
font-weight: bold;
text-transform: uppercase;
}
h6, .h6 {
font-size: var(--text-size-200);
}
h5, .h5 {
font-size: var(--text-size-300);
}
h4, .h4 {
font-size: var(--text-size-400);
}
h3, .h3 {
font-size: var(--text-size-500);
}
h2, .h2 {
font-size: var(--text-size-600);
}
h1, .h1 {
font-size: var(--text-size-700);
}

.title{
    margin-top: var(--gap-xs);
    z-index: 2;    
}


.titleBanner{
    /* text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7); */
    text-shadow: 1px 5px 15px rgba(0, 0, 0, 0.7);
}

.new_title{
    margin-top: var(--gap-xl);
    z-index: 2;
}

.session_title_container{
    margin-bottom: var(--gap-l); 
    z-index: 1; 
}

@media screen and (min-width: 881px){
    .text_center{
        text-align: center;
    }

    .session_title_container{
        margin-bottom: var(--gap-xxl); 
    }

    .texto{
        margin-top: var(--gap-s);
    }
}


.description{
    margin-top: var(--gap-s);
    z-index: 2;
}

.highlight{
    color: var(--cor-1);
}


.highlight_2{
    color: var(--cor-2);
}

.highlight_2 path{
    fill: var(--cor-2);
}

.highlight_2 .link_text:hover path{
    fill: var(--cor-2-hover);
}

.highlight_2 .link_text:active path{
    fill: var(--cor-2-active);
}

.bold{
    font-weight: 700;
}



/* Grids */

.standard_grid{
    display: grid;
    position: relative;
    max-width: 100%;
    column-gap: var(--gap-xxs);
    grid-template-columns: repeat(8, 1fr);
    width: 100vw;
    padding: 0 6vw;
    margin: 0;

}


/* Widescreen */
@media screen and (min-width: 1367px){
    .standard_grid{
        padding: 0 calc((100vw - 1160px) / 2);
        column-gap: var(--gap-s);
        grid-template-columns: repeat(12, 1fr);
    }
}

/* Notebook */
@media screen and (min-width: 1201px) and (max-width: 1366px){
    .standard_grid{
        padding: 0 calc((100vw - 1080px) / 2);
        column-gap: var(--gap-s);
        grid-template-columns: repeat(12, 1fr);
    }
}

/* Tablet Paisagem (avaliar colunas) */
@media screen and (min-width: 1025px) and (max-width: 1200px){
    .standard_grid{
        padding: 0 calc((100vw - 924px) / 2);
        column-gap: var(--gap-s);
        grid-template-columns: repeat(12, 1fr);
    }
}

/* Tablet Retrato (avaliar colunas) */
@media screen and (min-width: 881px) and (max-width: 1024px){
    .standard_grid{
        padding: 0 calc((100vw - 780px) / 2);
        column-gap: var(--gap-s);
        grid-template-columns: repeat(12, 1fr);
    }
}

/* Celular Paisagem (avaliar colunas) */
@media screen and (min-width: 768px) and (max-width: 881px){
    .standard_grid{
        padding: 0 calc((100vw - 728px) / 2);
    }
}


.reverse_grid .scnd_half {
    order: -1; /* Coloca a scnd_half antes da first_half no mobile */
}



@media screen and (min-width: 881px){
    .reverse_grid .scnd_half {
        order: 0; /* Coloca a scnd_half antes da first_half no mobile */
    }


}

.first_half, .scnd_half, .eight_center, .whole_grid, .first_terco, .scnd_terco, .third_terco, .first_quarto, .scnd_quarto, .third_quarto, .quarto_quarto{
    grid-column: 1 / span 8;
}

.half_screen_cards_container{
    margin-top: var(--gap-m);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr  1fr 1fr 1fr;
    row-gap: var(--gap-xxs);
}



@media screen and (min-width: 881px){
    .half_screen_cards_container{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        row-gap: var(--gap-s);
        column-gap: var(--gap-s);
    }

    .first_half{
        grid-column: 1 / span 6;
    }
    
    .scnd_half{
        grid-column: 7 / span 6;
    }

    .eight_center{
        grid-column: 3 / span 8;
    }

    .whole_grid{
        grid-column: 1 / span 12;
    }

    .first_terco{
        grid-column: 1 / span 4;
    }
    .scnd_terco{
        grid-column: 5 / span 4;
    }
    .third_terco{
        grid-column: 9 / span 4;
    }

    .first_quarto{
        grid-column: 1 / span 3;
    }
    .scnd_quarto{
        grid-column: 4 / span 3;
    }
    .third_quarto{
        grid-column: 7 / span 3;
    }
    .quarto_quarto{
        grid-column: 10 / span 3;
    }
}


/* Botões */
.button_container, .buttons_container{
    width: 100%;
    display: flex;
    align-items: center;
    column-gap: var(--gap-s);
    flex-direction: row;
    z-index: 1;
}

.in_sesseion_cta{
    margin-top: var(--gap-l)
}

.button_container{
    justify-content: space-between;
}

.button_container a.cta{
    width: 100%;
}

.buttons_container{
    justify-content: center;
}

.buttons_container a, .buttons_container .button{
    position: relative;
    min-height: 100%;
    height: 100%;
}

.button{
    position: relative;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 48px;
    height: 100%;
    transition: var(--hover-transition);
    font-size:  var(--text-size-90);
    overflow: hidden;
    letter-spacing: 1.25px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
}


.button_1::after, .button_2::after, .button_3::after, .button_1_flex::after, .button_2_flex::after, .button_3_flex::after{
    background: var(--txt-color);
    content: '';
    height: 155px;
    position: absolute;
    left: -75px;
    top: -50px;
    opacity: .8;
    transform: rotate(35deg);
    width: 50px;
    transition: all 1s cubic-bezier(.175, .52, .165, 1);
    z-index: 1;
}

.button_1:hover::after, .button_2:hover::after, .button_3.button_1:hover::after, .button_1_flex:hover::after, .button_2_flex:hover::after, .button_3_flex:hover::after{
    background: #FFF;
    opacity: 0;
    left: 120%;
    transform: rotate(40deg);
}

.button_1, .button_2, .button_3, .button_disabled {
    border-radius: var(--border-radius);
    padding: var(--gap-xs) var(--gap-s);
    width: 100%;
}

.button_1_flex, .button_2_flex, .button_3_flex, .button_disabled_flex{
    border-radius: var(--border-radius);
    padding: var(--gap-xxs) var(--gap-s);

}

.button_1, .button_1_flex{
    background-color: var(--cor-1);
    color: var(--bg-color)
}

.button_1:hover, .button_1_flex:hover{
    background-color: var(--cor-1-hover);
}

.button_1:active, .button_1_flex:active{
    background-color: var(--cor-1-active);
}

.button_2, .button_2_flex{
    color: var(--txt-color);
    border: 1px solid var(--txt-color);
    background-color: var(--cor-2);
}

.button_2:hover, .button_2_flex:hover{
    background-color: var(--cor-2-hover);
}

.button_2:active, .button_2_flex:active{
    background-color: var(--cor-2-active);
}

.button_3, .button_3_flex{
    color: var(--cor-1);
    border: 1px solid var(--cor-1);
    background-color: var(--bg-color);
}

.button_3:hover, .button_3_flex:hover{
    color: var(--cor-1-hover);
    border: 1px solid var(--cor-1-hover);
}

.button_3:active, .button_3_flex:active{
    color: var(--cor-1-active);
    border: 1px solid var(--cor-1-active);
}


span.link_text{
    position: relative;
    cursor: pointer;
}

span.link_text::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px; /* Ajuste a posição do underline */
    width: 100%;
    height: 2px; /* Altura do underline */
    background-color: var(--txt-color); /* Cor do underline */
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s ease;
  }

  .highlight span.link_text::after{
    background-color: var(--cor-1);
  }

  .highlight span.link_text:hover::after{
    background-color: var(--cor-1-hover);
  }

  .highlight span.link_text:active::after{
    background-color: var(--cor-1-active);
  }


  .highlight span.link_text:hover{
    color: var(--cor-1-hover);
  }

  .highlight span.link_text:active{
    color: var(--cor-1-active);
  }

  .highlight_2 span.link_text::after{
    background-color: var(--cor-2);
  }

  .highlight_2 span.link_text:hover::after{
    background-color: var(--cor-2-hover);
  }

  .highlight_2 span.link_text:active::after{
    background-color: var(--cor-2-active);
  }

  
  .highlight_2 span.link_text:hover{
    color: var(--cor-2-hover);
  }

  .highlight_2 span.link_text:active{
    color: var(--cor-2-active);
  }
  
  span.link_text:hover::after {
    transform: scaleX(1);
    transform-origin: left;
  }
  
  span.link_text:active::after, span.link_text:focus::after {
    transform: scaleX(1); /* Caso queira que o efeito permaneça ao focar ou clicar no link */
  }



a .highlight:hover, a.highlight:hover{
    color: var(--cor-1-hover);
}

a .highlight_2:hover, a.highlight_2:hover{
    color: var(--cor-2-hover);
}

a .highlight:active, a.highlight:active{
    color: var(--cor-1-active);
}

a .highlight_2:active, a.highlight_2:active{
    color: var(--cor-2-active);
}

a img:hover{
    opacity: var(--hover-opacity);
}

a h1, a h2, a h3, a h4, a h5, a h6, a p, a small{
    color: var(--txt-color);
    transition: 1s ease-in;
} 



@media screen and (min-width: 881px){
    .button_1, .button_2, .button_disabled {
        width: var(--button-width);
    }
}


.dark_session{
    background-color: var(--bg-color);
    /* Adicionando o efeito de iluminação com gradiente radial */
    background: radial-gradient(
        ellipse 80vw var(--gap-sessions) at top center,  /* Define o formato elíptico e a posição no topo */
        rgba(0, 53, 102, 0.8), /* Cor clara no centro */
        rgba(0, 53, 102, 0) /* Define o width de 500px e height de 150px */
    ),
    var(--bg-color); /* Fundo de base da seção */
}


@media screen and (min-width: 881px){
    .dark_session{
        background: radial-gradient(
            ellipse 33vw var(--gap-sessions) at top center,  /* Define o formato elíptico e a posição no topo */
            rgba(0, 53, 102, 0.8), /* Cor clara no centro */
            rgba(0, 53, 102, 0) /* Define o width de 500px e height de 150px */
        ),
        var(--bg-color); /* Fundo de base da seção */
    }
    
}


/*------------Nav*/

header{
    border-bottom: 1px solid;
    border-image: var(--standard-border);
    position: fixed;
    top: 0;
    background-color: rgba(0, 8, 20, 0);
    transition: background-color 0.5s ease;
    z-index: 1000;
}

header#privacy_policy{
    background-color: var(--bg-color);

}

section#politica{
    padding: 120px 0 var(--gap-l) 0;
}

section#hero, section#hero_2{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: var(--gap-sessions) 0 var(--gap-xxl) 0;
    overflow: hidden;
    position: relative;

}

section#hero{
    background-image: url('../img/baner3.jpg');
}

section#hero_2{
    background-image: url('../img/baner3.jpg');
}

section#hero small, section#hero_2 small{
    margin-top: 200px;
}

@media screen and (min-width: 881px){
    section#hero, section#hero_2 {
        padding: 200px 0 var(--gap-sessions) 0;
    }

    section#politica{
        padding: 160px 0 var(--gap-sessions) 0;
    }

    section#hero {
        background-image: url('../img/baner3.jpg');
    }

    section#hero_2{
        background-image: url('../img/hero_3.webp');
    }

    section#hero small, section#hero_2 small{
        margin-top: 0;
    }

}

section#cta{
    background-image: url('../img/predios_dark.webp');
    background-size: cover;
    background-position: bottom left;
    background-repeat: no-repeat;
    background-color: black !important;;
    
}


.nav_bar{
    /* height: var(--gap-xxl); */
    align-items: center;
    background-color: #f7a30a
}

.nav_bar .logo{
    grid-column: 1 / span 2;
}

@media screen and (min-width: 881px){
    .nav_bar .logo{
        grid-column: 1 / span 2;
    }

    .nav_bar .logo svg{
        width: 80%;
    }

    .center_button a{
        display: grid;
        justify-content: center;
    }

}

.nav_bar .logo svg{
    position: relative;
}

.nav_bar .button_container{
    display: none;
}

.switch_buttons{
    display: inline-flex;
    grid-column: 3 / span 6;
    justify-content: end;

}

@media screen and (min-width: 881px){
    .switch_buttons{
        display: inline-flex;
        grid-column: 3 / span 2;
        justify-content: center;
    }

    .nav_bar .button_container{
        grid-column: 7 / span 6;
        margin-top: 0;
        justify-content: end;
        display: flex;
    }
    
}


  .toggleWrapper#language-switch-toggle {
    overflow: hidden;
    
    input {
      position: absolute;
      left: -99em;
    }
  }

  .toggleWrapper#language-switch-toggle .toggle {
    border: 1px solid var(--txt-color);
    cursor: pointer;
    display: inline-block;
    position: relative;
    margin: 0 45px;
    background-image: linear-gradient(133deg, rgba(0,151,57,1) 36%, rgba(254,221,0,1) 36%);
    width: 45px;
    height: 25px;
    border-radius: 90px;
    transition: background-image 400ms ease-in;
    
    &:before {
      content: 'EN';
      position: absolute;
      left: -50%;
      top: 25%;
      transform: translate(-25%, -5%);
      font-size: var(--text-size-80);
      color: var(--cor-cinza)
    }
    
    &:after {
      content: 'PT';
      position: absolute;
      right: -50%;
      top: 25%;
      transform: translate(25%, -5%);
      font-size: var(--text-size-80);
      color: var(--txt-color);
    }
  }

  .toggleWrapper#language-switch-toggle .toggle__handler {
    display: inline-block;
    position: relative;
    z-index: 1;
    top: 2px;
    left: 23px;
    width: 20px;
    height: 20px;
    background-color: #012169;
    border-radius: 50px;
    box-shadow: 0 2px 6px rgba(0,0,0,.3);
    transition: all 400ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
    transform:  rotate(-45deg);

}

.toggleWrapper#language-switch-toggle input:checked {
    + .toggle {
        background-image: linear-gradient(180deg, 
                                  #B31942 25%, 
                                  #FFFFFF 25%, 
                                  #FFFFFF 50%, 
                                  #B31942 50%, 
                                  #B31942 75%, 
                                  #FFFFFF 75%, 
                                  #FFFFFF 100%);
        

        &:before {
        color: var(--txt-color);
        }

        &:after {
        color: var(--cor-cinza);
        }
        
        .toggle__handler {
        background-color: #012169;
        transform: translate3d(-23px, 0, 0) rotate(0);
        }
    }
}


/*------------Botao Whatsapp*/
.whatsapp_button {
    position: fixed;
    bottom: var(--gap-xs);
    left: 50%;
    transform: translateX(-50%);
    z-index: 999;
}

.whatsapp_button a{
    grid-column: -1 / -1;
    width: 60px;
    height: 60px;
    justify-self: flex-end;
}

.whatsapp_button img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    box-shadow: var(--standard-shadow);
}

.whatsapp_button img:hover{
    opacity: var(--hover-opacity);
} 


/*------------Sections*/

section{
    padding: var(--gap-l) 0 ;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-bottom: 1px solid;
    border-image: var(--standard-border);
}



@media screen and (min-width: 881px){
    section{
        padding: var(--gap-sessions) 0;
    }
}

